body {
  font-weight: bold;
  margin: 0;
}

@media all and (max-width: 319px) {
  header {
    align-items: center;
    background-color: #099d8d;
    color: #ffffff;
    display: flex;
    height: 60px;
    justify-content: center;
  }
  nav {
    align-items: center;
    background-color: #14d9c4;
    color: #ffffff;
    display: flex;
    flex-flow: row nowrap;
    height: 45px;
    justify-content: space-around;
  }
  .image_pres {
    height: 316px;
  }
  .image_pres > img {
    height: 100%;
    width: 100%;
  }
  .container_uno {
    background-color: #ffffff;
    margin: 0 15px 30px 15px;
    padding: 15px 15px 0;
    position: static;
  }
  .container {
    position: absolute;
    top: 387px;
  }
  .claim p {
    margin: 0 0 15px;
  }
  .equipo {
    padding-top: 30px;
  }
  .equipo .title, .fortalezas_title, .debilidades_title{
    color: #009889;
    font-weight: 900;
    text-align: center;
  }
  .team_p, .fortalezas_p, .debilidades_p, .datos {
    color: #54585a;
    text-align: center;
  }
  .team_p .parrafo_1 p {
    margin-top: 15px;
  }
  .triangle {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  .triangle-down {
    border-left: 15px solid transparent;
    border-top: 25px solid #fff;
    border-right: 15px solid transparent;
    height: 0;
    width: 0;
  }
  .container_dos {
    background-color: #f1f1f1;
    padding: 0px 30px 45px;
    position: static;
  }
  .fortalezas {
    margin-bottom: 30px;
  }
  .fortalezas, .debilidades {
    padding-top: 5px;
  }
  .container_tres {
    background-color: #fff;
    margin: 0 15px 0 15px;
    padding: 0px 15px 45px;
    position: static;
  }
  .somos .title {
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
  }
  .perfil {
    display: flex;
    margin: 30px auto 15px;
    justify-content: center;
  }
  .image_perfil {
    border: 4px solid #ECECED;
    border-radius: 8px;
    height: 180px;
    width: 180px;
  }
  .name {
    text-align: center;
  }
  .redes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: auto;
    width: 70vw;
  }
  .punto {
    color: #009889;
    position: relative;
    text-align: center;
    transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
  }
  .red a{
    color: #009889;
  }
  hr {
    color: #b8b8b9;
    margin-top: 45px;
  }
  footer {
    background-color: #ffffff;
    margin: 30px 15px 0 15px;
    padding: 0px 15px 0;
    position: absolute;
    text-align: center;
    top: 1791px;
    width: 81.25vw;
  }
  .name_team {
    color: #b8b8b9;
  }
  .links {
    display: flex;
    flex-flow: column;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  nav a {
    color: #fff;
    text-decoration: none;
  }
  .links a {
    color: #54585a;
    text-decoration: none;
  }
}
