body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  /* background-color: tomato; */
}

@media all and (max-width: 767px) {
  .head_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .image_pres {
    height: 421px;
    width: 100%;
  }
  .head {
    position: absolute;
    top: 0;
    display: flex;
    flex-flow: column;
    width: 100%;
  }
  header {
    align-items: center;
    background-color: rgba(9, 157, 141, 0.95);
    color: #ffffff;
    display: flex;
    height: 60px;
    justify-content: center;
  }
  nav {
    align-items: center;
    background-color: rgba(20, 217, 196, 0.9);
    color: #ffffff;
    display: flex;
    flex-flow: row nowrap;
    height: 45px;
    justify-content: space-around;
  }
  .container {
    position: relative;
  }
  .container_uno {
    background-color: #ffffff;
    margin: 0 15px 30px 15px;
    padding: 0 15px 0;
    position: relative;
    top: -34px;
  }
  .claim {
    display: inline-block;
    padding: 15px 0 15px;
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    /* font-family: 'Open Sans', sans-serif; */
  }
  .claim p {
    margin: 0 0 15px;
  }
  .equipo {
    padding-top: 30px;
  }
  .equipo .title, .fortalezas_title, .debilidades_title{
    color: #009889;
    font-weight: 900;
    text-align: center;
  }
  .team_p, .fortalezas_p, .debilidades_p, .datos {
    color: #54585a;
    text-align: center;
  }
  .team_p .parrafo_1 p {
    margin-top: 15px;
  }
  .triangle {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  .triangle-down {
    border-left: 15px solid transparent;
    border-top: 25px solid #fff;
    border-right: 15px solid transparent;
    height: 0;
    width: 0;
  }
  .container_dos {
    background-color: #f1f1f1;
    padding: 0px 30px 45px;
    position: relative;
    top: -34px;
  }
  .fortalezas {
    margin-bottom: 30px;
  }
  .fortalezas, .debilidades {
    padding-top: 5px;
  }
  .container_tres {
    background-color: #fff;
    margin: 30px 15px 0 15px;
    padding: 0px 15px 0px;
    position: relative;
    top: -34px;
  }
  .somos .title {
    font-weight: bold;
    /* margin-top: 30px; */
    text-align: center;
  }
  .perfil {
    display: flex;
    margin: 30px auto 15px;
    justify-content: center;
  }
  .image_perfil {
    border: 4px solid #ECECED;
    border-radius: 8px;
    height: 180px;
    width: 180px;
  }
  .name {
    text-align: center;
  }
  .redes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 15px auto 45px;
    width: 70vw;
  }
  .punto {
    color: #009889;
    position: relative;
    text-align: center;
    transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
  }
  .red a{
    color: #009889;
  }
  footer {
    background-color: #ffffff;
    margin: 0 15px 0;
    padding: 30px 15px 0;
    position: relative;
    text-align: center;
    top: -42px;
  }
  hr, .name_team {
    color: #b8b8b9;
  }
  .links {
    display: flex;
    flex-flow: column;
    /* padding-bottom: 30px; */
    margin-top: 20px;
  }
  nav a {
    color: #fff;
    text-decoration: none;
  }
  .links a {
    color: #54585a;
    text-decoration: none;
  }
}  /* @media all and (max-width: 319px) */


@media all and (min-width: 768px) and (max-width: 1200px){
  .container_head {
    display: flex;
    flex-flow: column;
    color: #ffffff;
    font-family: 'Rubik-Medium', sans-serif;
    font-size: 16px;
    height: 421px;
  }
  .head {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px 0;
    position: relative;
    top: -421px;
    background-color: rgba(9, 157, 141, 0.85);
    min-height: 60px;
  }
  .image_pres {
    height: 421px;
    width: 100%;
  }
  nav {
    display: flex;
    flex-flow: row;
    width: 50%;
    justify-content: space-around;
    align-items: center;
  }
  nav li {
    list-style: none;
    margin-left: 5px;
  }
  nav a {
    color: #fff;
    text-decoration: none;
  }
  .claim {
    display: inline-block;
    padding: 15px 30px 15px;
    margin: 0 0 0 45px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    font-size: 24px;
    font-family: 'OpenSans-SemiBold', sans-serif;
    position: absolute;
    top: 328px;
    width: 441px;
  }
  .claim p {
    margin: 0 0 15px;
  }
  .container {
    position: relative;
  }
  .container_uno {
    margin: 45px 15px 60px 45px;
    padding: 0 15px 0 0;
  }

  .equipo {
  }
  .equipo .title, .fortalezas_title, .debilidades_title{
    color: #099D8D;
    font-family: 'Rubik-Medium', sans-serif;
    font-size: 22px;
    text-align: center;
  }
  .team_p, .fortalezas_p, .debilidades_p, .datos {
    color: #54585A;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    text-align: center;
  }
  .team_p .parrafo_1 p {
    margin-top: 15px;
  }
  .triangle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .triangle-down {
    border-left: 15px solid transparent;
    border-top: 25px solid #fff;
    border-right: 15px solid transparent;
    height: 0;
    width: 0;
  }
  .container_dos {
    background-color: #f1f1f1;
    padding: 0px 30px 60px;
  }
  .for_deb {
    display: flex;
    flex-flow: row;

  }
  .fortalezas {
    margin-bottom: 30px;
    padding-right: 15px;
  }
  .debilidades {
    padding-left: 15px;
  }
  .fortalezas, .debilidades {
    padding-top: 5px;
  }
  .container_tres {
    background-color: #fff;
    margin: 45px 15px 0 15px;
    padding: 0px 15px 0px;
  }
  .container_tres .title {
    text-align: center;
    color: #099D8D;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
  }
  .date_person {
    display: flex;
    align-items: stretch;
    padding-bottom: 10px;
    margin: 45px 0 60px;
  }
  .photo_perfil {
    display: flex;
    margin-right: 30px;
    justify-content: flex-end;
  }
  .image_perfil {
    border: 4px solid #ECECED;
    border-radius: 8px;
    height: 205px;
    width: 205px;
  }
  .person {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
  .name {
    text-align: left;
    color: #000000;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 20px;
  }
  .datos p {
    margin: 0;
    text-align: left;
    color: #54585A;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
  }
  .redes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
  }
  .punto {
    color: #009889;
    font-size: 40px;
    position: relative;
    text-align: center;
    transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
  }
  .red {
    font-size: 35px;
  }
  .red a{
    color: #009889;
  }
  hr {
    color: #b8b8b9;
  }
  footer {
    background-color: #ffffff;
    margin: 0 15px 0;
    padding: 0 15px 60px;
    display: flex;
    justify-content: space-between;
  }
  .name_team {
    color: #B8B8B9;
    margin-top: 22px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }
  .links {
    display: flex;
    flex-flow: column;
    margin-top: 17px;
  }
  .links a{
    text-decoration: none;
    color: #b8b8b9;

  }

}
